<app-header></app-header>
<app-banner [title]="'O firmie'" [bannerUrl]="'../../../assets/images/strona-glowna-tlo.jpg'"></app-banner>
<section class="bg-light pt-5 pb-md-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <img class="img-fluid my-4" src="../../../assets/images/o firmie 1.jpg" alt="">
            <div class="align-self-md-end my-4 ps-md-5">
                <h1 class="mb-4">O nas</h1>
                <p class="mb-0">Skyline Logistics to przede wszystkim ludzie. Ludzie, którzy z pasją i zaangażowaniem podchodzą do
                    każdego zadania, przed którym stają w tak elastycznej branży jaką jest logistyka. Specjalizujemy się w
                    przewozach drobnicowych i całopojazdowych na terenie całej Europy. Naszym motorem napędowym są
                    nasi klienci, którzy każdego dnia stawiają przed nami nowe wyzwania z którymi musimy się zmierzyć
                    oraz stanąc na wysokości zadania.
                    Dzięki wieloletniemu doświadczeniu w branży logistycznej znamy realia branży.
                    Jesteśmy firmą, która podąża za wymaganiami swoich klientów. Jesteśmy świadomi, że w dzisiejszych
                    czasach outsourcing jest doskonałym rozwiązaniem. Daje on szereg możliwości takich jak zwiększenie
                    jakości usług czy ewidentne oszczędności dla firmy.</p>
            </div>
        </div>
        <div class="py-4 my-4">
          <h2>Nasze mocne strony</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="mb-5">
                <h3 class="card-title fw-light mb-4">Jakość</h3>
                      <p class="card-text">Jakość to pojęcie stworzone już w starożytności, które miało oznaczać <span class="fst-italic">pewien stopień doskonałości</span>.
                        Nasza firma za główny cel postawiła sobie aby ta doskonałość była na najwyższym możliwym poziomie.
                        Nadrzędną wartością naszej firmy jest zadowolenia naszego klienta, który ma pewność, że zlecenie
                        przebiegnie zgodnie z umową, a jego towar dotrze w umówionej w zleceniu dacie i godzinie.</p>
            </div>
            <div class="d-block d-md-none mb-5">
                <img class="col-md-4 img-fluid my-4" src="../../../assets/images/o firmie 2.jpg" alt="">
            </div>
            <div class="mb-5">
                <h3 class="card-title fw-light mb-4">Bezpieczeństwo</h3>
                <p class="card-text">Od czasu kontaktu z naszą firmą klient jest pod dobrymi skrzydłami. Skupiamy się na tym aby
                  zleceniodawca mógł spać spokojnie. W 100% skupiamy się na powierzonym dla nas zleceniu. Jesteśmy w
                  kontakcie z naszymi kierowcami 24h/dobę. Kontrolujemy przebieg trasy czy pomagamy w sytuacjach
                  ekstremalnych. Dzięki systemom GPS jesteśmy w stanie zlokalizować towar z aktualną pozycją na mapie.</p>
            </div>
            <div class="mb-5">
                <h3 class="card-title fw-light mb-4">Elastyczność</h3>
                <p class="card-text">Każdego dnia staramy się sprostać wymaganiom naszych klientów nawet gdy te zmieniają się w czasie
                  powierzonego dla nas zlecenia. Nie boimy się wyzwań i nieszablonowych rozwiązań. Elastyczne
                  podejście pozwala nam na dopasowanie się do określonych sytuacji tak by zadowolenie klienta było
                  nadrzędną cechą naszej firmy.</p>
            </div>
            <div class="d-block d-md-none mb-5">
                <img class="col-md-4 img-fluid my-4" src="../../../assets/images/o firmie 3.jpg" alt="">
            </div>
            <div class="mb-5">
                <h3 class="card-title fw-light mb-4">Niezawodność</h3>
                  <p class="card-text">Dzięki szerokiej flocie firm z którymi współpracujemy w łańcuchu dostaw, jesteśmy w stanie zareagować
                    w każdej sytuacji na rzeczy niespodziewane tak aby nie istniało słowo <span class="fst-italic">zaskoczenie</span>.</p>
            </div>
            <div class="mb-5">
                <h3 class="card-title fw-light mb-4">Kompleksowość</h3>
                  <p class="card-text">Nasi Klienci mogą liczyć na kompleksowość usług. Jesteśmy do dyspozycji naszych klientów na każdym
                    etapie naszych działań tak by mieli podgląd na każdym etapie zlecenia.</p>
            </div>
            <div class="d-block d-md-none mb-5">
                <img class="col-md-4 img-fluid my-4" src="../../../assets/images/o firmie 4.jpg" alt="">
            </div>
        </div>
        <!-- <div class="card rounded-0 border-0 mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title fw-light mb-4">Jakość</h2>
                  <p class="card-text">Jakość to pojęcie stworzone już w starożytności ,które miało oznaczać ''pewien stopień doskonałości''.
                    Nasza firma za główny cel postawiła sobie aby ta doskonałość była na najwyższym możłiwym poziomie.
                    Nadrzędną wartością naszej firmy jest zadowolenia naszego klienta, który ma pewność, że zlecenie
                    przebiegnie zgodnie z umową a jego towar dotrze w umówionej w zleceniu dacie i godzinie.</p>
                </div>
              </div>
               <img class="col-md-4 img-fluid my-4" src="../../../assets/images/o firmie 2.jpg" alt="">
            </div>
        </div>
        <div class="card rounded-0 border-0 mb-3">
            <div class="row g-0">
                <img class="col-md-4 img-fluid my-4" src="../../../assets/images/o firmie 2.jpg" alt="">
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title fw-light mb-4">Niezawodność</h2>
                  <p class="card-text">Dzięki szerokiej flocie firm z którymi współpracujemy w łańcuchu dostaw ,jesteśmy wstanie zareagować
                    w każdej sytuacji na rzeczy niespodziewane tak aby nie istniało słowo „zaskoczenie”.</p>
                </div>
              </div>
            </div>
        </div>
        <div class="card rounded-0 border-0 mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title fw-light mb-4">Bezpieczeństwo</h2>
                  <p class="card-text">Od czasu kontaktu z naszą firmą klient jest pod dobrymi skrzydłami. Skupiamy się na tym aby
                    zleceniodawca mógł spać spokojnie. W 100% skupiamy się na powierzonym dla nas zleceniu. Jesteśmy w
                    kontakcie z naszymi kierowcami 24h/dobę. Kontrolujemy przebieg trasy czy pomagamy w sytuacjach
                    ekstremalnych. Dzięki systemom GPS jesteśmy wstanie zlokalizować towar z aktualną pozycją na mapie.</p>
                </div>
              </div>
               <img class="col-md-4 img-fluid my-4" src="../../../assets/images/o firmie 3.jpg" alt="">
            </div>
        </div>
        <div class="card rounded-0 border-0 mb-3">
            <div class="row g-0">
                <img class="col-md-4 img-fluid my-4" src="../../../assets/images/businessman-3105871_1920.jpg" alt="">
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title fw-light mb-4">Kompleksowość</h2>
                  <p class="card-text">Nasi Klienci mogą liczyć na kompleksowość usług. Jesteśmy do dyspozycji naszych klientów na każdym
                    etapie naszych działań tak by mieli podgląd na każdym etapie zlecenia.</p>
                </div>
              </div>
            </div>
        </div>
        <div class="card rounded-0 border-0 mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title fw-light mb-4">Elastyczność</h2>
                  <p class="card-text">Każdego dnia staramy się sprostać wymaganiom naszych klientów nawet gdy te zmieniają się w czasie
                    powierzonego dla nas zlecenia. Nie boimy się wyzwać i nieszablonowych rozwiązań.Elastyczne
                    podejście pozwala nam na dopasowanie się do określonych sytuacji tak by zadowolenie klienta było
                    nadrzędną cechą naszej firmy.</p>
                </div>
              </div>
               <img class="col-md-4 img-fluid my-4" src="../../../assets/images/o firmie 4.jpg" alt="">
            </div>
        </div> -->
    </div>
</section>
