<div class="bg-dark py-4">
    <div class="container">
        <footer class="py-3">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a [routerLink]="['/o-firmie']" class="nav-link px-2 text-white text-uppercase">O firmie</a></li>
            <li class="nav-item"><a [routerLink]="['/oferta']" class="nav-link px-2 text-white text-uppercase">Oferta</a></li>
            <li class="nav-item"><a [routerLink]="['/dla-klientow']" class="nav-link px-2 text-white text-uppercase">Dla klienta</a></li>
            <li class="nav-item"><a [routerLink]="['/kontakt']" class="nav-link px-2 text-white text-uppercase">Kontakt</a></li>
          </ul>
          <p class="text-center text-white">© 2022 Skyline Logistics</p>
        </footer>
      </div>
</div>
