<app-header></app-header>
<app-banner [title]="'Oferta'" [bannerUrl]="'../../../assets/images/oferta-glowny.jpg'"></app-banner>
<section class="bg-light pt-5 pb-md-5">
    <!-- <div class="container">
      <div class="py-4">
          <div class="my-4">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>
  </div> -->
  <div class="container">
      <div class="row pb-4">
        <!-- <div class="col-4 p-3">
            <div class="card rounded-0 border-0">
                <div class="wrap-img">
                    <img src="../../../assets/images/oferta-polska.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h1 class="card-title fw-light">Transport</h1>
                  <p class="second-title">krajowy</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-4 p-3">
            <div class="card rounded-0 border-0">
                <div class="wrap-img">
                    <img src="../../../assets/images/oferta (wewnątrzunijny).jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h1 class="card-title fw-light">Transport</h1>
                  <p class="second-title">unijny</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-4 p-3">
            <div class="card rounded-0 border-0">
                <div class="wrap-img">
                    <img src="../../../assets/images/oferta (pozaunijny).jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h1 class="card-title fw-light">Transport</h1>
                  <p class="second-title">pozaunijny</p>
                </div>
            </div>
        </div> -->
        <div class="col-12 p-4">
            <div class="card rounded-0 border-0 mb-3">
                <div class="row g-0">
                  <div class="wrap-img col-md-4">
                    <img src="../../../assets/images/oferta-polska.png" class="img-fluid rounded-0" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title fw-light mb-4">Transport <strong class="fw-bold">krajowy</strong></h2>
                      <p class="card-text">Polska jest liderem przewozów drogowych na arenie miedzynarodowej. W ostatniej dekadzie branża
                        Polskich firm transportowych wynosiła 190 miliardów zł i rosła w zastraszającym tempie 10% rocznie.
                        
                        Transport drogowy w Polsce jest jedną z trzech najmocniejszych branż gospodarczych. Bez transportu
                        lokalnego inne nie mogłyby funkcjonować. Przez co dla naszej firmy jest tak ważny.
                        Lokalny rynek jest uzupełnieniem naszej oferty spedycyjnej. Jako nieliczni na rynku transportowym w
                        kraju obejmujemy zasięgiem każdy region Polski. Skupiamy się na niezawodnych przewoźnikach którzy
                        dają gwarancję terminowej dostawy. Dzięki dużej znajomości rynku oraz bogatej flocie podwykonawców
                        jesteśmy wstanie dostosować transit time do każdego wymagania naszego klienta. Odpowiednio dobrany
                        rodzaj transportu pozwala na dostawę towaru klienta w mniej niż 24h od załadunku.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-12 p-4">
            <div class="card rounded-0 border-0 mb-3">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title fw-light mb-4">Transport <strong class="fw-bold">wewnątrzwspólnotowy</strong></h2>
                      <p class="card-text">Transport wewnątrzunijny jest bardzo ważną gałęzią w naszej firmie. Handel w Unii Europejskiej pod
                        koniec 2021 roku wyniósł ponad 314 mld Euro co pokazuje potencjał w tej dziedzinie na przewóz dóbr
                        pomiędzy krajami. Wzrost handlu wiąże się w znacznej mierze z potrzebą przewozów całopojazdowych
                        jak i drobnicowych. Nasza firma zajmuje się organizacją transportu w tej przestrzeni zarówno dla
                        pojazdów całopojazdowych (FTL) jak i drobnicowych (LTL). Skyline Logistics to gwarancja
                        terminowości jak i ciągły przepływ informacji, który jest niezbędny przy organizacji transportu. Rzetelna
                        i aktualna informacja pomiędzy klientem a naszą firmą to dla Skyline Logistics jedna z bardziej istotnych
                        terminów w naszej firmie.</p>
                    </div>
                  </div>
                  <div class="wrap-img col-md-4">
                    <img src="../../../assets/images/oferta (wewnątrzunijny).jpg" class="img-fluid rounded-0" alt="...">
                  </div>
                </div>
              </div>
        </div>
        <div class="col-12 p-4">
            <div class="card rounded-0 border-0 mb-3">
                <div class="row g-0">
                  <div class="wrap-img col-md-4">
                    <img src="../../../assets/images/oferta (pozaunijny).jpg" class="img-fluid rounded-0" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title fw-light mb-4">Transport <strong class="fw-bold">pozaunijny</strong></h2>
                      <p class="card-text">Pojazdy naszych podwykonawców można spotkać na terenie całej Unii Europejskiej i nie tylko. Jeżeli
                        Twoja firma zajmuje się exportem swoich towarów lub przeciwnie – importuje różne dobra na teren
                        Polski możesz spać spokojnie. Zajmiemy się wszystkimi formalnościami. Jesteśmy świadomi, że przewóz
                        towarów poza granice Wspólnoty wymaga drobiazgowego przygotowania na wszystkich poziomach
                        realizacji. Kontrolujemy i sprawdzamy dokumentację, planujemy najszybszą trasę jak i nadzorujemy
                        ładunek w każdej minucie jego przewozu.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
  </div>
  </section>