<app-header></app-header>
<app-banner [title]="'Oferta'" [bannerUrl]="'../../../assets/images/oferta-glowny.jpg'"></app-banner>
<section class="bg-light">
    <div class="container">
      <div class="py-4">
          <div class="my-4">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row row-cols-1 row-cols-md-3 mb-4">
        <div class="p-3">
            <div class="card rounded-0 border-0">
                <div class="wrap-img">
                    <img src="../../../assets/images/oferta-polska.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h1 class="card-title fw-light">Transport</h1>
                  <p class="second-title">krajowy</p>
                </div>
            </div>
        </div>
        <div class="p-3">
            <div class="card rounded-0 border-0">
                <div class="wrap-img">
                    <img src="../../../assets/images/oferta (wewnątrzunijny).jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h1 class="card-title fw-light">Transport</h1>
                  <p class="second-title">unijny</p>
                </div>
            </div>
        </div>
        <div class="p-3">
            <div class="card rounded-0 border-0">
                <div class="wrap-img">
                    <img src="../../../assets/images/oferta (pozaunijny).jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h1 class="card-title fw-light">Transport</h1>
                  <p class="second-title">pozaunijny</p>
                </div>
            </div>
        </div>
      </div>
  </div>
  </section>