<app-header></app-header>
<div class="image positive-relative">
    <div class="container text-white">   
        <div class="card bg-dark border-0 rounded-0 px-5 py-2">
            <!-- <div class="text bg-white p-2">
                <h4 class="text-dark">Zapraszamy do kontaktu:</h4>
            </div> -->
            <div class="card-body">
              <h5 class="card-title">SKYLINE LOGISTICS</h5>
              <p class="ps-3 mb-0">NIP: 123456789</p>
              <p class="ps-3">Regon: 123456789</p>
              <div class="d-flex align-items-center mb-3">
                  <i class="fas fa-map-marker-alt me-2"></i>
                  <div>
                    <p class="mb-0">ul. Warszawska 1/1</p>
                    <p class="mb-0">00-000 Warszawa</p>
                  </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <i class="fas fa-mobile-android-alt me-2"></i>
                <a class="nav-link" href="tel:+1 800 589 6587">+48 876 234 974</a>
            </div>
            <div class="d-flex align-items-center mb-3">
                <i class="fas fa-envelope me-2"></i>
                <a class="nav-link" href="mailto:contact@gmail.com">contact@gmail.com</a>
            </div>
              <!-- <ul class="list-unstyled mb-0">
                <li class="list-inline-item"><a href="tel:+1 800 589 6587"><i class="fas fa-mobile-android-alt"></i> 768376254</a></li>
                <li><a href="mailto:contact@gmail.com"><i class="fas fa-envelope"></i> contact@gmail.com</a></li>
              </ul> -->
            </div>
          </div>
    </div>
</div>
