<app-header></app-header>
<app-banner [title]="'Kontakt'" [bannerUrl]="'../../../assets/images/kontakt.jpg'"></app-banner>
<section class="bg-light pt-5 pb-md-5">
    <div class="container">
        <h1 class="my-4">Zapraszamy do kontaktu</h1>
        <div class="row row-cols-1 row-cols-md-2 pt-5">
            <iframe class="my-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2431.6287737768685!2d16.87390851573436!3d52.44963917980091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470443775f9a6be3%3A0x17b8157530277174!2sJuwenalisa%2023%2C%2060-461%20Pozna%C5%84!5e0!3m2!1sen!2spl!4v1666960457788!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="my-3 ps-md-5">
                <h2 class="mb-0">Skyline Logistics</h2>
                <h4 class="mb-3">Andżelika Kwiek</h4>               
                <div>
                    <p class="mb-0 me-4">NIP: 6972277181</p>
                    <p class="mb-3">Regon: 523460165</p>
                </div>
                <div class="row row-cols-1">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-map-marker-alt me-2"></i>
                        <div>
                          <p class="mb-0">ul. Juwenalisa 23</p>
                          <p class="mb-0">60-461 Poznań</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                      <i class="fas fa-mobile-android-alt me-2"></i>
                      <a class="nav-link" href="tel:+1 800 589 6587">+48 797 171 525</a>
                  </div>
                  <div class="d-flex align-items-center mb-3">
                      <i class="far fa-envelope me-2"></i>
                      <a class="nav-link" href="mailto:biuro@skylinelogistics.pl">biuro@skylinelogistics.pl</a>
                  </div>
                </div>
                <p class="mb-0">Biuro czynne</p>
                <p class="mb-5">Poniedziałek – Piątek: 8:00 – 16:00</p> 
            </div>
        </div>
    </div>
</section>
