  <nav class="navbar navbar-expand-lg position-absolute navbar-light bg-transparent w-100">
    <div class="container-fluid">
        <a [routerLink]="['/']" class="navbar-brand"><img class="logo-img" src="../../../assets/images/logo-biale.svg" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-uppercase text-white mx-4" [routerLink]="['/o-firmie']" routerLinkActive="active" aria-current="page">O firmie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-white mx-4" [routerLink]="['/oferta']" routerLinkActive="active">Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-white mx-4" [routerLink]="['/dla-klientow']" routerLinkActive="active">Dla klienta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-white mx-4" [routerLink]="['/kontakt']" routerLinkActive="active">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
