.wrap-banner {
//   padding-bottom: 200px;
  .image {
    height: 50vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 768px) {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    .back {
        height: inherit;
        opacity: 0.4;
    }
    .title {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 70px;

        @media screen and (max-width: 768px) {
            font-size: 35px;
          }
    }
  }
}
